.header{
    background-color: #fff;
    padding: 20px;
    .header-icon{
        background-color: #f9f9f9;
        color: #555;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 10px;
    }
    .toggle-sidebar{
        cursor: pointer;
    }
    .notifications-container{
        display: inline-block;
        margin-left: 20px;
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: -20px;
                left: 8px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }
            .noti-head{
                background-color: #333;
                padding: 15px;
                color: #fff;
                span{
                    float: right;
                }
            }
            .noti-content{
                padding: 20px;
                ul{
                    margin: 0;
                    li{
                        padding: 10px;
                        i{
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 50%;
                            text-align: center;
                            margin-right: 10px;
                            &.fa-envelope{
                                color: #fff;
                            }
                            &.fa-money-bill{
                                color: rgb(110, 228, 110);
                            }
                            &.fa-thumbs-up{
                                color: #00f;
                            }
                            &.fa-heart{
                                color: #f00;
                            }
                            &.fa-share-from-square{
                                color: #00f;
                            }
                        }
                    }
                }
            }
            .noti-foot{
                a{
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .usermenu-container{
        float: right;
        .username{
            cursor: pointer;
            .avatar{
                width: 40px;
                height: 40px;
            }
            .user{
                font-weight: bold;
                color: #777;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 20px;
            position: relative;
            border: 1px solid #ddd;
            &::before{
                content: "";
                position: absolute;
                top: -20px;
                right: 30px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #ddd transparent;
            }
            .user-info{
                h3{
                    font-weight: bold;
                }
                p{
                    color: #888;
                }
            }
            .activities-list{
                li{
                    padding: 10px;
                }
            }
            .usermenu-links{
                .link-box{
                    background-color: #fff;
                    padding: 10px 15px;
                    border-radius: 6px;
                    text-align: center;
                    border: 1px solid #f3f3f3;
                    cursor: pointer;
                    i{
                        padding-right: 5px;
                        &.fa-gear{
                            color: #2980b9;
                        }
                        &.fa-user{
                            color: #16a085;
                        }
                        &.fa-power-off{
                            color: #c0392b;
                        }
                    }
                }
            }
        }
    }
}