.header{
    background-color: #fff;
    padding: 20px;
    .header-icon{
        background-color: #f9f9f9;
        color: #555;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 10px;
    }
    .toggle-sidebar{
        cursor: pointer;
    }
    .notifications-container{
        display: inline-block;
        margin-left: 20px;
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: -20px;
                left: 8px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }
            .noti-head{
                background-color: #333;
                padding: 15px;
                color: #fff;
                span{
                    float: right;
                }
            }
            .noti-content{
                padding: 20px;
                ul{
                    margin: 0;
                    li{
                        padding: 10px;
                        i{
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 50%;
                            text-align: center;
                            margin-right: 10px;
                            &.fa-envelope{
                                color: #fff;
                            }
                            &.fa-money-bill{
                                color: rgb(110, 228, 110);
                            }
                            &.fa-thumbs-up{
                                color: #00f;
                            }
                            &.fa-heart{
                                color: #f00;
                            }
                            &.fa-share-from-square{
                                color: #00f;
                            }
                        }
                    }
                }
            }
            .noti-foot{
                a{
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #fff;
                    text-decoration: none;
                }
            }
        }
    }
}